@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom */
html,
body,
#root {
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: "Quicksand", sans-serif;
}
h1,
h2 {
  font-family: "Pacifico", cursive;
}
